body{
    max-width: 900px;
    background: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url('../assets/images/brett-zeck-672527-unsplash.jpg');
    background-size: cover;
    height: 100vh;
    background-attachment: fixed;
    background-repeat: no-repeat;
    margin: 0 auto;
}

.select-this{
    display: flex;
    flex-flow: column wrap;
    flex-basis: 60%;
    justify-content: center;
    align-items: center;
    margin: 30px auto;
    font-size: 180%;
    color: whitesmoke;
    width: 100%;
}

.buttons{
    display: flex;
    justify-content: space-between;
    
}

button{
    padding: 15px 35px;
    border-radius: 25px;
    margin-right: 45px;
    font-size: 65%;
}
.input-wrapper{
    width: 90%;
    margin: 0 auto;
    overflow: hidden;
}
input{
    font-size: 80%;
    text-align: center;
    width: 100%;
    margin: 10px auto;
}